.card img {
    height: 500px;
    max-height: 100%;
    width: auto;
    max-width: 100%;

}

.card {
    padding: 0;
}

.card .caption-full {
    padding: 9px;
}

.active {
    color: white;
}

.disabled {
    pointer-events: none;
}