<%- include("../partials/header") %>

<div class="container">
    <div class="jumbotron jumbotron-container text-center" style="height:100px">
        <h5>Add a new Product</h5>
    </div>
    <div class="row justify-content-center  ">
        <form action="/add" method="POST">
            <div class="form-row container">
                <div class="form-group col-md-6">
                    <label for="Type">Type:</label>
                    <input type="text" class="form-control" placeholder="Type of product" name="type" id="Type"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" placeholder="Name of product" name="name" id="Name"
                        required>
                </div>
                <div class="form-group  col-md-12">
                    <label for="image">Image:</label>
                    <input type="url" class="form-control" placeholder="Link for image" name="image" id="image"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="Quantity">Quantity:</label>
                    <input type="number" class="form-control" name="quantity" id="Quantity" min=1 required>
                </div>
                <div class="form-group col-md-6">
                    <label for="Cost">Cost:</label>
                    <input type="number" class="form-control" name="cost" id="Cost" min=1 required>
                </div>
            </div>
            <div class="row">
                <div class="col-6"><button type="reset" class=" btn btn-danger">Reset</button></div>
                <div class="col-6"><button type="submit" class=" btn btn-primary text-right">Submit</button></div>
            </div>

        </form>
    </div>
    <a href="/products">Go Back</a>
</div>
<%- include("../partials/footer") %>